@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  font-family: "PT Sans", sans-serif;
}

html,
body,
/* #root {
  height: 100%;
  width: 100%;#9bf80c
} */
html *{
  color: #DC143C;
}
body{
background-color: #F0F8FF; 
}

/* #root {
  background-image: url(https://t3.ftcdn.net/jpg/02/90/46/84/360_F_290468474_6yJ9eBPW2wevarR9cbXN87TCFJDVVuAR.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;


} */

table,
td {
  border: 1px solid rgb(0, 141, 184);
  text-align: center;
}

thead {
  background-color: rgb(47, 67, 255);
  color: #fff;
}

th {
  padding: 5px;
}


